$font-chakra-petch: 'Chakra Petch', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-saira: 'Saira', sans-serif;


/* color */
$bg_orange: #FF5A00;
$bg_dark: #191E23;


$transition-03: 0.3s ease-in-out all;